# This is a CODEOWNERS file.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

<!-- # These owners will be the default owners for everything in the repo.
*       @default-owner

# Specify owners for specific directories
/docs/  @docs-owner
/src/   @src-owner -->

# Specify owners for specific files
README.md   @madilshahzad